html,
body {
 position: fixed;
 width: 100%;
 height: 100%;
 overflow: hidden;
 overscroll-behavior: none;
}

body {
 background-color: rgb(10, 10, 10);
}

.wrapper {
 height: 100%;
 max-width: 1366px;
 margin: 0 auto;
 text-align: center;
 user-select: none;
 font-family: serif;
 border: 1px solid black;
}

.header,
.bottom-hint {
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: $height-portrait;
 background-color: rgb(20, 20, 20);
 @include portrait-large {
  height: $height-portrait-large;
 }
 @include landscape {
  height: $height-landscape;
 }
}

.header {
 border-bottom: 1px solid black;
 &__title {
  font-size: 5.4vw;
  color: rgb(197, 131, 44);
  @include portrait-large {
   font-size: 200%;
  }
  @include landscape {
   font-size: 100%;
  }
  @include landscape-large {
   font-size: 150%;
  }
 }
}

.bottom-hint {
 border-top: 1px solid black;
 &__text {
  font-size: 3.4vw;
  color: rgb(170, 170, 170);
  @include portrait-large {
   font-size: 160%;
  }
  @include landscape {
   font-size: 80%;
  }
  @include landscape-large {
   font-size: 120%;
  }
 }
}

.slider-container {
 display: flex;
 height: 100% - $height-portrait * 2;
 background-color: rgb(30, 30, 30);
 @include portrait-large {
  height: 100% - $height-portrait-large * 2;
 }
 @include landscape {
  height: 100% - $height-landscape * 2;
 }
}

.slider {
 position: relative;
 display: flex;
 flex-grow: 1;
 margin: 10% 0;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 @include portrait-large {
  margin: 5% 0;
 }
 @include landscape {
  margin: 0 7%;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
 }
 @include landscape-large {
  margin: 0 5%;
 }
 &__images-container {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
 }
 &__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  &--1 {
   z-index: 1;
   background-image: url('./images/p1.jpg');
   @include landscape {
    background-image: url('./images/s1.jpg');
   }
   @include landscape-large {
    background-image: url('./images/l1.jpg');
   }
  }
  &--2 {
   z-index: 0;
   background-image: url('./images/p2.jpg');
   @include landscape {
    background-image: url('./images/s2.jpg');
   }
   @include landscape-large {
    background-image: url('./images/l2.jpg');
   }
  }
  &--3 {
   z-index: -1;
   background-image: url('./images/p3.jpg');
   @include landscape {
    background-image: url('./images/s3.jpg');
   }
   @include landscape-large {
    background-image: url('./images/l3.jpg');
   }
  }
 }
 &__divider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  background-color: black;
  @include landscape {
   width: 2px;
   height: 100%;
   transform: translateX(-50%);
  }
 }
 &__handle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.4);
  border: 2px solid;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  @include landscape {
   transform: translate(-50%, -50%) rotate(90deg);
  }
  &-arrow {
   width: 12px;
   height: 12px;
   box-shadow: 2px 2px;
   &--top {
    transform: rotate(225deg);
   }
   &--bottom {
    transform: rotate(45deg);
   }
  }
 }
}
